<div class="containerHeader">
    <div class="menu">
        <button class="btn btn-danger" [routerLink]="['/inicio']">Inicio</button>
        <button class="btn btn-danger" [routerLink]="['/sala']">Salas</button>
        <button class="btn btn-danger" [routerLink]="['/salasadmin']"  >SalasADMIN</button>
        <button class="btn btn-danger" [routerLink]="['/propuesta']" >Crear Propuesta</button>
        <button class="btn btn-danger" [routerLink]="['/actividad']" >Crear Actividad</button>
        <button class="btn btn-danger" [routerLink]="['/juego']" >Crear Juego</button>
    </div>
    <div class="loger">
        <button class="btn btn-danger" [routerLink]="['/login']">Login</button>
    </div>
</div>

