.containerHeader {
    display: flex;
    /*justify-content: space-between;*/
    align-items: center; /* Alinea los elementos verticalmente en el centro */
    padding: 10px; /* Añade un poco de espacio alrededor de los elementos */
    max-height: 70px;
}

.home {
    flex: 1; /* Distribuye el espacio disponible de manera uniforme entre los elementos */
    justify-content: flex-start;
}

.btnHome, .btnExit{
    background-color: rgb(255, 254, 253);
    padding: 10px;
    color: #050000;
    border-radius: 4px;
    border: solid 1px black;
    cursor: pointer;
    margin-left: 10px;
}

.btnExit{
    background-color: red;
}

.title {
    flex: 1; /* Distribuye el espacio disponible de manera uniforme entre los elementos */
    text-align: center; /* Centra el texto en el contenedor */
}
.tituloPrincipal{
    color:rgb(3, 69, 126)
}

.logo {
    flex: 1; /* Distribuye el espacio disponible de manera uniforme entre los elementos */
    display: flex; /* Agregado display: flex */
    justify-content: flex-end; /* Justifica el contenido hacia la derecha */
    align-items: center; /* Alinea los elementos verticalmente en el centro */
}

.logo img {
    max-width: 60%;
    height: auto;
}
