/* calendar.component.css */

.centered {
    /* Estilos para el div que se centra verticalmente */
    border: 2px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
}

.titulo {
    font-size: 2.5rem;
    /* You can adjust the size as needed */
    color: rgb(3, 69, 126);
    font-family: 'Apple System', 'Segoe UI', sans-serif;
}

.calendar-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.day {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
}

.selected {
    background-color: lightblue;
}

.icon-green {
    color: green;
    /* Color verde para éxito */
}

.icon-gray {
    color: grey;
    /* Color gris para deshabilitado */
}

.icon-rojo {
    color: red;
}

.fa-angles-left, .fa-angles-right, .fa-chevron-left, .fa-chevron-right{
    color: rgb(3, 69, 126);
}


/* Fecha seleccionada actual o futura */
.day.selected {
    background-color: green;
}

/* Fecha pasada seleccionada */
.day.selected.past {
    background-color: red;
}



