<app-header></app-header>

<div class="col-lg-6 offset-lg-3 text-center mt-5 mainContent">
    <span class="titulo"> {{ titulo }}</span>

    <br>
    <br>
    <br>

    <div class="navigation" style="display: flex; align-items: center;">
        <i class="fa-solid fa-angles-left" style="font-size: 1.5rem;" (click)="prevYear()"></i>
        <i class="fa-solid fa-chevron-left" style="font-size: 1.5rem;" (click)="prevMonth()"></i>
        <p style="margin: 0; font-size: 1.5rem;">{{ currentDate | date: 'MMMM yyyy' }}</p>
        <i class="fa-solid fa-chevron-right" style="font-size: 1.5rem;" (click)="nextMonth()"></i>
        <i class="fa-solid fa-angles-right" style="font-size: 1.5rem;" (click)="nextYear()"></i>
    </div>

    <div class="days">
        <div *ngFor="let day of daysInMonth" class="day" [class.selected]="day === selectedDay"
            (click)="selectDay(day)">
            {{ day }}
        </div>
    </div>
    <br>
    <div class="mb-3 d-flex justify-content-between">
        <a [routerLink]="['/main']" class="ml-auto">
            <i class="fa-solid fa-arrow-left-long icon-rojo" style="font-size: 2rem;"></i>
        </a>
        <a class="ml-auto" (click)="isFechaSeleccionada() ? guardarFecha() : null" [routerLink]="['/main']">
            <i [ngClass]="isFechaSeleccionada() ? 'fa-solid fa-check icon-green' : 'fa-solid fa-check icon-gray'" style="font-size: 2rem;"></i>
        </a>
    </div>
</div>
<app-footer></app-footer>