<app-header></app-header>
<div class="mainContent">
    <div class="informativeCard" id="infoCard" *ngIf="showInfo">
        <div class="infoTitle">
            <h5>{{ result }}</h5>
        </div>
        <p>Datos de tu carnet de Salud:</p>
        <ul>
            <li>
                <p>Cédula: {{ currentCI }}</p>
            </li>
            <li>
                <p>Fecha de emisión: {{userGenderInfo[0]}}</p>
            </li>
            <li>
                <p>Fecha de vencimiento: {{userGenderInfo[1]}}</p>
            </li>
            <li>
                <p>Vigencia: OK</p>
            </li>
        </ul>
    </div>
    <div class="informativeCard" *ngIf="showOptions">
        <p>No tenes carnet al día</p>
        <div class="operationButtons">
            <button class="boton boton-registro" [routerLink]="['/agenda']">Agendarse</button>
            <button class="boton" [routerLink]="['/csForm']">Cargar carnet de Salud</button>
        </div>
    </div>
    <div class="informativeCard" *ngIf="showAdmin">
        <p>Ver funcionarios sin Carnet de Salud vigente: </p>
        <div class="operationButtons">
            <button class="boton boton-registro" [routerLink]="['/list']">+ Info</button>

        </div>
    </div>
    <div class="informativeCard" id="adminOp" *ngIf="showAdmin">
        <p>Modificar fecha límite: </p>
        <div class="operationButtons">
            <button class="boton boton-registro" [routerLink]="['/periodo']">Modificar</button>
        </div>
        
    </div>


</div>
<app-footer></app-footer>