<app-header></app-header>
<div class="mainContent">
    <!-- TARJETA DE INFORMACIÓN DEL CARNET DE SALUD -->
    <div class="informativeCard" id="infoCard" *ngIf="showInfo">
        <div class="infoTitle">
            <h5>{{ result }}</h5>
        </div>
        <p>Datos de tu carnet de Salud:</p>
        <ul>
            <li>
                <p>Cédula: {{ currentCI }}</p>
            </li>
            <li>
                <p>Fecha de emisión: {{userCSInfo[0].issueDate}}</p>
            </li>
            <li>
                <p>Fecha de vencimiento: {{userCSInfo[0].expireDate}}</p>
            </li>
            <li>
                <p>Vigencia: OK</p>
            </li>
        </ul>
    </div>
    <!-- TARJETA DE OPCIONES SI NO TIENE CARNET DE SALUD -->
    <div class="informativeCard" *ngIf="showOptions">
        <div class="infoTitle">
            <h5>No tenes carnet de salud al día</h5>
        </div>
        <!-- INFORMACIÓN DE FECHA AGENDADA SI TIENE AGENDADO APRA RENOVAR CS -->
        <div *ngIf="showAgendaInfo">
            <div class="informativeCard dateInfo">
                <p><strong>Fecha Agendada para renovar Carnet de salud: </strong></p>
                <p>{{userGenderInfo}}</p>
            </div>
        </div>
        <!-- SI NO TIENE AGENDA QUE APAREZCAN LOS BOTONES -->

        <div class="operationButtons">
            <div *ngIf="!showAgendaInfo">
                <button class="boton boton-registro" [routerLink]="['/agenda']">Agendarse</button>
            </div>
            <button class="boton" [routerLink]="['/csForm']">Cargar carnet de Salud</button>
        </div>

    </div>
    <div class="informativeCard" *ngIf="showAdmin">
        <h5>Ver funcionarios sin Carnet de Salud vigente: </h5>
        <div class="operationButtons">
            <button class="boton boton-registro" [routerLink]="['/list']">+ Info</button>

        </div>
    </div>
    <div class="informativeCard" id="adminOp" *ngIf="showAdmin">
        <h5>Modificar fecha límite: </h5>
        <div class="operationButtons">
            <button class="boton boton-registro" [routerLink]="['/periodo']">Modificar</button>
        </div>

    </div>


</div>
<app-footer></app-footer>